.loading-animation :nth-child(2) {
  animation-delay: 0.15s;
}

.loading-animation :nth-child(3) {
  animation-delay: 0.3s;
}

.input-tag-button > :nth-child(2) {
  display: none;
}

.input-tag-button:hover {
  > :first-child {
    display: none;
  }

  > :nth-child(2) {
    display: block;
  }
}
